.HomePage {
  height: 100vh;
  width: 100vw;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-color: #ffa94c;
}

.HomePageLinks {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 3rem;
  margin: 3px;
  padding: 3px;
  color: #88034a;
}

.HomePageLinks:hover {
  color: #fee6e2;
  background-color: rgba(136, 3, 74, 0.7);
  text-decoration: none;
}
