.whos-who-page {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.whos-who-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#whos-who-card {
  width: 18rem;
  margin: 5px;
  border: none;
}

.WhosWhoLinks {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  margin: 3px;
  padding: 3px;
  color: #88034a;
}

.WhosWhoLinks:hover {
  color: #f2f2f2;
  background-color: rgba(136, 3, 74, 0.7);
  text-decoration: none;
}
